{% extends 'base.html' %}

{% block head %}
<title>{{ translator.title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/translate.css') }}">
{% endblock %}

{% block body %}
    <h1>Dari bahasa : {{ translator.language }}</h1>
    <form class="translateBox" action="/{{ translator.language }}/" method="POST">
        <label for="algoritma">Pilih algoritma yang ingin digunakan : 
            <select name="algoritma" id="algoritma">
                <option value="KMP" selected="selected">Knuth-Morris-Pratt</option>
                <option value="BM">Boyer-Moore</option>
                <option value="REGEX">Regular Expression</option>
            </select>
        </label>
        {% if translator.language == "indonesia" %}
        <label for="useTeh">
            <input type="checkbox" id="useTeh" name="useTeh" id="option1" value="useTeh"> Pakai penekanan(teh)
        </label>
        {% endif %}
        <h4>Masukkan kalimat yang ingin diterjemahkan</h4>
        <input type="text" name="text" id="textBox" autocomplete="off" value="{{ translator.fromSentence() }}">
        <input type="submit" value="Translate!" class="nav-button">
    </form>
    <hr class="batas">
    <h4>Hasil terjemahan : </h4>
    <hr>
    <div class="translated">
        <p>{{ translatedSentence }} </p>
    </div>
{% endblock %}